type: ComposedAggregation
requestsPerStep: 1
numberOfSteps: 1
initialCapacityValue: 1
increaseCapacityFunction: linear increase
increaseCapacityFunctionParameter: 1
initialWorkloadValue: 2
increaseWorkloadFunction: exponential increase
increaseWorkloadFunctionParameter: 2
plotGraph: false
experientName: REST.repositoryEndpoint.FirstProcessing